fastapi
uvicorn
requests
tqdm
redis
celery
pydantic
python-dotenv
sentence-transformers
pymupdf
layoutparser
pillow
numpy
qdrant-client
boto3
pymupdf
pytesseract
Pillow
pdf2image
pdfplumber
google-genai
tiktoken